@charset 'UTF-8';

// 1. Vendors
@import
  'vendors/normalize';

// 2. Abstracts - Variables, functions, mixins, and placeholders
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins',
  'abstracts/placeholders';


// 3. Base files
@import
  'base/base',
  'base/helpers',
  'base/typography',
  'base/spacing',
  'base/print';

// 4. Layout-related sections
@import
  'layout/header',
  'layout/footer',
  'layout/forms',
  'layout/grid',
  'layout/grid-flex';

// 5. Components
@import
  'components/buttons',
  'components/lists',
  'components/pagination',
  'components/tables',
  'components/media-queries'; //no content, just documentation


// 6. Page-specific styles
@import
  'pages/home';

// 7. Themes
@import
  'themes/default',
  'themes/dark';
