/* Shared */

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

/* Sections */
.section {
  padding: 10rem 0 10rem;
  text-align: center;
}

.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}

/* Hero */
.hero {
  background-image: url("../images/bokeh.jpg");
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #222;
}

/* Features */
.features {
  background-color: #192023;
  color: #BBBAC6;
  padding: 6rem 0 6rem;
}

.features__title {
  text-align: center;
  margin-bottom: 4rem;
}

/* Promotion */
.promotion {
  background: linear-gradient(rgba(25, 32, 35, 0.85), rgba(0, 119, 76, 0.75) ), url("../images/aurora.jpg");
  background-size: cover;
  color: #fff;
  padding: 6rem 0 6rem;
}

.promotion__title {
  margin-bottom: 5rem;
}

.promotion__icon {
  margin-bottom: .5rem;
  color: #ddd;
}

.promotion__heading {
  margin-bottom: 1rem;
}

.promotion__description {
  opacity: .8;
  font-weight: 300;
}

/* Help */
.get-started {
  color: #BBBAC6;
  background-color: #192023;
}

/* About */
.about {
  background-image: url("../images/grass.jpg");
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  color: #333;
}

.about .container {
  background: rgba(255, 255, 255, 0.25);
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 0.5em;
  padding: 1.75em 2.5em 1.75em 2.5em;
  display: inline-block;
  position: relative;
}

.about .section-description {
  margin-bottom: 4rem;
}


/* Footer */
footer {
  background-color: #192023;
  padding: 25px 0;
}

footer ul, section.contact ul.list-social {
  margin-bottom: 0;
}

footer, footer ul li a {
  color: rgba(255,255,255,.3);
}

footer, section.contact {
  text-align: center;
}

footer p {
  margin: 0;
}


/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 10rem 0 10rem;
  }
  .hero {
    padding: 5rem 0 8rem;
    text-align: left;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    padding: 8rem 0 8rem;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 14rem 0 14rem;
  }
  .hero {
    padding: 10rem 0 27rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 10rem 0 10rem;
  }
  .hero {
    padding: 12rem 0 32rem;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
}